<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <style type="text/css">
body {
         font-family: SimSun;
         font-size:10px;
         //font-style:italic;
         //font-weight:bold;
         //color:#00F;
     }

</style>
</head>

<body style="width: 1519px;">
<table>
<tr>
<td>
都死啦副科级大栅栏肯定就发
</td>
<td>
11111111111111123243245345
</td>
<td>
<span th:text="${message}"></span>
</td>
</tr>


<tr>
<td>
算法撒旦法撒旦法师打发斯蒂芬
</td>
<td>
发手动阀撒打发斯蒂芬
</td>
<td>
地方vsad
</td>
</tr>
</table>	
<img height="33" width="339" src="file:/C:/Users/Administrator.WIN7-1610080938/Desktop/word2pdf/360_log.png"></img>
	
 
<img height="33" width="339" th:src="${imgUrl}"></img>

</body></html>
